.container {
  display: flex;
  height: 100vh; /* Adjust the height as per your requirements */
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  /* Adjust the width as per your requirements */
  background-color: #f1f1f1; /* Adjust the background color as desired */
  z-index: 1;
}

.banner, .featured_release, .latestVideos, .featuredArtists, .latestNews {
  flex-grow: 1;
  margin:0 0 0 210px; /* Adjust the margin as per your requirements */
  width: auto;
}

.featured_release, .latestVideos, .featuredArtists, .latestNews{
  padding-left: 30px;
}






