<div class="navbar">
  <app-nav-bar></app-nav-bar>
</div>
<div class="main">
  <div class="banner">
    <app-home-banner></app-home-banner>
  </div>

  <div class="featured_release">
    <app-featured-release></app-featured-release>
  </div>

  <div class="latestVideos">
    <app-latestVideos></app-latestVideos>
  </div>

  <div class="featuredArtists">
    <app-featuredArtists></app-featuredArtists>
  </div>

  <div class="latestNews">
    <app-latestNews></app-latestNews>
  </div>

  <div class="mnintro">
    <app-mnIntro></app-mnIntro>
  </div>

  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
