.container {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 80vh; /* Adjust the height as per your requirements */
}

.home-banner{
  width: 100%;

}

.banner {
  flex-grow: 1;

  margin-left: 25%; /* Adjust the margin as per the navbar width */
  /* Add any additional styles for the banner component */
}


.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
}

.carousel-item img {
  width: 100%;
  height: auto;
  scroll-behavior: smooth;
  object-fit: cover;
}







