.banner-text{
  position: absolute;
  bottom: 100px;
  left: 70px;
}

.banner-text button{

  background-color: red;
  border-radius: 30px;
  padding:10px 20px 10px 20px;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;

}

.banner-text button:hover{
  font-size: 20px;
  transition: 0.4s ease-in-out;
}

.carousel-control-prev, carousel-control-next{
  position: absolute;
  left: -30px;

}
