*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: black;
}

.latest_news{
  padding: 10px;
}
.news_title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.news_title_text {
  float: left;
  padding: 10px;
}

.newsButton {
  margin-right: 20px;
}
.newsButton button{
  background-color: red;
}
.newsButton button:hover{
  background-color: blue;
}


.row {
  display: flex;
}

.column {
  flex: 20%;
  height: 45vh;
  padding: 0 5px;
}

.column img{
  height: 30vh;
  width: 100%;
  transition: 0.5s all ease-in-out;
}
.column:hover img{
  transform: scale(1.048);
}





