<div class="releaseHead">
  <h2>Latest new_releases</h2>
</div>

 <div id="formList">

  <div id="list">
    <div class="item">
      <img class="avatar" src="assets/homeBanner.jpg" alt="">
      <div class="release-text">
        <div class="artist-text">
          <p>hero 101</p>
        </div>
        <div class="play">
          <i class="fa-duotone fa fa-play"></i>
        </div>
      </div>

    </div>
    <div class="item">
      <img class="avatar" src="assets/homeBanner.jpg" alt="">
      <div class="release-text">
        <div class="artist-text">
          <p>hero 101</p>
        </div>
        <div class="play">
          <i class="fa-duotone fa fa-play"></i>
        </div>
      </div>
    </div>
    <div class="item">
      <img class="avatar" src="assets/homeBanner.jpg" alt="">
      <div class="release-text">
        <div class="artist-text">
          <p>hero 101</p>
        </div>
        <div class="play">
          <i class="fa-duotone fa fa-play"></i>
        </div>
      </div>
    </div>
    <div class="item">
      <img class="avatar" src="assets/homeBanner.jpg" alt="">
      <div class="release-text">
        <div class="artist-text">
          <p>hero 101</p>
        </div>
        <div class="play">
          <i class="fa-duotone fa fa-play"></i>
        </div>
      </div>
    </div>
    <div class="item">
      <img class="avatar" src="assets/homeBanner.jpg" alt="">
      <div class="release-text">
        <div class="artist-text">
          <p>hero 101</p>
        </div>
        <div class="play">
          <i class="fa-duotone fa fa-play"></i>
        </div>
      </div>
    </div>
    <div class="item">
      <img class="avatar" src="assets/homeBanner.jpg" alt="">
      <div class="release-text">
        <div class="artist-text">
          <p>hero 101</p>
        </div>
        <div class="play">
          <i class="fa-duotone fa fa-play"></i>
        </div>
      </div>
    </div>
    <div class="item">
      <img class="avatar" src="assets/homeBanner.jpg" alt="">
      <div class="release-text">
        <div class="artist-text">
          <p>hero 101</p>
        </div>
        <div class="play">
          <i class="fa-duotone fa fa-play"></i>
        </div>
      </div>
    </div>
  </div>
 </div>
