<div class="latest_news">

  <div class="news_title">
    <div class="news_title_text">
      <p>Latest News</p>
    </div>
    <div class="newsButton">
      <button> View All</button>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <img src="assets/homeBanner.jpg" alt="Snow" style="width:100%">
      <p>News title goes here Fully</p>
    </div>
    <div class="column">
      <img src="assets/homeBanner.jpg" alt="Forest" style="width:100%">
      <p>News title goes here Fully</p>

    </div>
    <div class="column">
      <img src="assets/homeBanner.jpg" alt="Mountains" style="width:100%">
      <p>News title goes here Fully</p>

    </div>
    <div class="column">
      <img src="assets/homeBanner.jpg" alt="Mountains" style="width:100%">
      <p>News title goes here Fully</p>

    </div>
  </div>
</div>
