<div class="w-100 pb-5" style="background-color: black;">
  <div class="container  custom-container">
    <div class="release-head">
      <div class="head-left">
        <h2>Released Features</h2>
      </div>
      <div class="head-right">
        <button class="btn head-right">View All</button>
      </div>
    </div>

    <div class="position-relatvie">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor=" let item of albumItems">
          <div class="item">
            <img
              class="avatar shadow-drop-2-center"
              src="{{item.logo}}"
              alt=""
            />
            <div class="release-text">
              <div class="artist-text">
                <p>
                  {{item.title}} <br />
                  {{item.type}}
                </p>
              </div>
              <div class="play">
                <i class="fa-sharp fa-regular fa-circle-play"></i>
              </div>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>

</div>
