

.item{
  border-radius: 5px;
  height: fit-content;
  align-items: center;
  margin-left: 8px;
  padding: 10px;
  transition: all 0.6s ease;
}

.item:hover{
 transform: scale(1.06);}

.release-head{
  display: flex;
  justify-content: space-between;
  padding: 1.2rem;
}

.release-head .head-right{
  width: 100px;
  color: rgb(12, 10, 10);
  border-radius: 10px;
}

.head-right button{
  text-align: center;
  background-color: #ed4036;;
  border-color:transparent;
  border: 1px solid transparent;
  color: white !important;
  font-weight: 400;
  padding: 5px;

}

.head-right button:hover{
  background: #d5170d;
}

.item .avatar{
  display: flex;
  margin: 7px;
  /* width: 200px; */
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}


.play{
  font-size: 35px;
}


.release-text{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.artist-text >p{
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

#list{
  display: flex;
  width:max-content;
  align-items: center;
}

#formList{
  width: 0%;
  overflow: hidden;
  height: 400px;
  margin: 0 ;
}

::ng-deep .owl-theme .owl-nav [class*=owl-] {

  height: 3rem;
  border-radius: 50%;
  color: white;
  background-color: rgba(0, 0.7, 0, 0.7) !important;
  outline: 0;
  width: 3rem;
  border: none;
  font-size: 30px;
  padding: 0;
}

/* ::ng-deep .owl-theme .owl-nav [class*=owl-]:hover{
  background-color: rgba(0, 0.7, 0, 0.7);
} */









/*

@media screen and (min-width:1024px) {
  .item{
    width: calc(33.3vw - 40px);
  }
}

@media screen and (max-width:768px) {
  .item{
    width: calc(50vw - 20px);
  }
}
 */






