
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
  color: white;
  background-color: black;
}
.container{
  max-width: 100%;
  padding: 0;
  margin: 0;
  /* background-image: url('/assets/releaseBackground.jpg'); */
  background-color: black;
}

.item{
  border-radius: 10px;
  height: fit-content;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
  padding: 10px;
}

.item:hover{
transform: scaleY(1.5px);
}

.release-head{
  display: flex;
  justify-content: space-around;
  padding: 1.2rem;
}

.release-head .head-right{
  width: 100px;
  color: rgb(12, 10, 10);
  border-radius: 20px;
}

.head-right button{
  text-align: center;
  background-color: rgb(227, 55, 55);
  color: black;
  padding: 5px;
}

.head-right button:hover{
  transition: 0.3s ease;
  background: rgb(149, 42, 42);
  color: white;
}

.item .avatar{
  display: block;
  margin: 7px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.item .avatar:hover{
  width: 210px;
  height: 210px;
  margin: 1px;
  transition: 0.2s ease;
}

.play{
  font-size: 35px;
  width: 100%;
  margin: auto;
}

.item .artist-text{
  text-align: center;
  padding: 0;

}

.release-text{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  padding-top: 10px;
}

.artist-text >p{
  display: flex;
  flex-direction: column;
width: auto;
margin: auto;}

#list{
  display: flex;
  width: max-content;
  align-items: center;
}

#formList{
  width: 90%;
  overflow: hidden;
  height: 350px;
  margin: 0 ;
}



#formList::-webkit-scrollbar{
  display:none;
}



@media screen and (max-width:1024px) {
  .item{
    width: calc(33.3vw - 40px);
  }
}

@media screen and (max-width:768px) {
  .item{
    width: calc(50vw - 20px);
  }
}



::ng-deep .owl-prev{
  position: absolute;
  top: 50%;
  left:2%;
  background-color: black;
  transform: translateY(-50%) translateX(-50%);
}

::ng-deep .owl-next{
  position: absolute;
  top: 50%;
  right:0;
  transform: translateY(-50%) translateX(-50%);
}






