/* @import "https://unpkg.com/open-props"; */
/* @import "https://unpkg.com/open-props/normalize.min.css"; */

.featured-artist{
  box-sizing: border-box;
  padding: 10px;
  margin: 0;
  background-color: black;
}

.media-element{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom:0 15px 2rem 15px;
}

.media-element > img {
  border-radius: 50% ;
  padding: 30px;
  height: 280px;
  width: 280px;
  object-fit: cover;

}

.media-element p{
  text-align: center;
}

.artist_title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.artist_title_text {
  float: left;
  padding: 10px;
}

.artistButton {
  margin-right: 20px;
}

.artistButton button{
  background-color: red;
  padding: 4px;
  color: white;
  border-radius: 10px; ;
}


/* general styling */





/* The `.page-header` class is defining the styling for a page header element. */
.page-header {
  padding-top: var(--size-6) ;
  background: black;
  color: var(--gray-0);
  box-shadow: var(--shadow-2);
}

.page-title {
  font-size: var(--font-size-fluid-3);
}

