<div class="w-100 featured-artist">
  <div class="container custom-container">
    <div class="artist_title">
      <div class="artist_title_text">
        <p>Featured Artists</p>
      </div>
      <div class="artistButton">
        <button class="btn btn-artist"> View All</button>
      </div>
    </div>
    <div class="media-scroller">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let items of artistsItems">
          <div class="media-element">
            <img
              src="{{items.logo}}"
              alt=""
            />
            <p class="title">{{items.title}}</p>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</div>
