
.featured-artist{
  box-sizing: border-box;
  padding-left: 25px;
}


.btn-artist{
  background-color: black;
  text-align: center;
  border: 1px solid white;
  border-color: rgba(169, 156, 156, 0.6);
  border-radius: 15px;
  color: white;
  font-weight: 400;
  padding: 5px 15px;
  margin-right: 5px;
  cursor: pointer;
}

.btn-artist:hover{
  background-color: #d5170d;
}


.media-element{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:0 15px;
  transition: all 0.6s ease;
  cursor: pointer;
}

.media-element:hover{
  transform: scale(1.07);
}

.media-element > img {
  border-radius: 50% ;
  padding: 10px;
  height: 200px;
  width: 200px;
  object-fit: cover;

}

.media-element p{
  text-align: center;
}

.artist_title{
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.artist_title_text{
  font-size: 30px;
}


.owl-nav .owl-prev {
  position: absolute;
  left: 1px !important;
  top: 50%;
}
