<app-nav-bar></app-nav-bar>
<div class="row" id="album">
  <div class="modal" id="myModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="container">
      <header>
        <div class="playlist">
          <img height="30px" width="40px" src="assets/logo.png" alt="" />
        </div>
        <div class="setting">
          <button class="head-button">
            <a
              href="https://play.google.com/store/apps/details?id=com.newitventure.movienmasti"
            >
              Download MOMO
            </a>
            <i class="fa-solid fa-download"></i>
          </button>
        </div>
      </header>
      <main>
        <div class="album-art">
          <img src="{{ trackDetail?.logo }}" alt="" />
        </div>
        <div class="player">
          <i
            (click)="toggleMute()"
            class="fa volume"
            [ngClass]="{ 'fa-volume-mute': isMuted, 'fa-volume-up': !isMuted }"
          ></i>
          <i (click)="playPreviousTrack()" class="fa fa-fast-backward"></i>
          <i
            (click)="togglePlayPause()"
            class="fa play-pause"
            [ngClass]="!isPlaying ? 'fa-play' : 'fa-pause'"
          ></i>
          <i (click)="playNextTrack()" class="fa fa-fast-forward"></i>
        </div>
      </main>

      <audio class="audioPlayer hidden"
        #audioPlayer
        style="height: 5px"
        controls
        src="https://commondatastorage.googleapis.com/codeskulptor-assets/Epoq-Lepidoptera.ogg"
      ></audio>

      <!--propgress bar-->

      <div class="progress">
        <div class="played">
          <div class="circle"></div>
        </div>
      </div>

      <!-- enbd of progress-->
      <div class="player-details">
        <div class="song-details" style="text-align: left">
          <p class="name">
            <strong>{{ trackDetail?.title }}</strong>
          </p>
          <p class="name">
            <span>Singer:</span>
            <span style="margin-right: 5px">{{
              trackDetail?.artists[0].title
            }}</span>
          </p>
          <p class="name">
            <span>Lyricist:</span>
            <span style="margin-right: 5px">{{
              trackDetail?.lyricists[0].title
            }}</span>
          </p>
          <p class="name">
            <span>Composer:</span>
            <span style="margin-right: 5px">{{
              trackDetail?.composers[0].title
            }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="musics pr-4">
      <div class="header" style="display: flex; justify-content: center">
        <span>Music list</span>
      </div>
      <div class="mr-10px">
        <div
          class="track-list"
          *ngFor="let item of audioList"
          (click)="getSpecificTrackDetails(item)"
          [ngClass]="{ active: item === activeItem }"
        >
          <div
            class="d-flex align-items-center justify-content-between my-2"
            [ngClass]="activeTrackID === item.id ? 'activeTrack' : ''"
          >
            <img class="track-img" src="{{ item.logo }}" alt="" />
            <div class="track-title">
              {{ item.title }}
            </div>
            <div class="play-button-container">
              <i class="play-right fa-solid fa-circle-play pr-10px"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- check-->

<app-footer></app-footer>
