<app-nav-bar></app-nav-bar>
<div class="row" id="album">
  <div class="modal" id="myModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="wrapper">
      <div class="top-bar">
        <i class="fas fa-solid fa-chevron-down"></i> <span>Now Playing</span>
        <i class="fas fa-solid fa-ellipsis"></i>
      </div>
      <div class="img-area">
        <img
          src="{{trackDetail?.logo}}"
          alt=""
        />
      </div>
      <div class="song-details" style="text-align: left" >
        <p class="name"><strong>{{trackDetail?.title}}</strong></p>
        <p class="name">
          <span>Singer:</span>
          <span style="margin-right: 5px">{{trackDetail?.artists[0].title}}</span>
        </p>
        <p class="name">
          <span>Lyricist:</span>
          <span style="margin-right: 5px">{{trackDetail?.lyricists[0].title}}</span>
        </p>
        <p class="name">
          <span>Composer:</span>
          <span style="margin-right: 5px">{{trackDetail?.composers[0].title}}</span>
        </p>
      </div>
      <div class="progress-area"></div>

      <div class="controls">
        <i class="fa-solid fa-backward" (click)="playPreviousTrack()"></i>
        <div class="play-pause" (click)="isPlaying ? pauseAudio() : playAudio()" >
          <i class="fa-solid fa-play" [ngClass]="{'fa-play': !isPlaying, 'fa-pause': isPlaying}"></i>
        </div>
        <i class="fa-solid fa-forward"  (click)="playNextTrack()"></i>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="musics"  >
      <div class="header" style="display: flex; justify-content: center">
        <span>Music list</span>
      </div>
      <div>
        <div class="track-list" *ngFor="let item of audioList" (click)="getSpecificTrackDetails(item)" [ngClass]="{'active': item === activeItem}" >
          <div class="track-logo">
            <img
              src="https://mnm.truestreamz.com/images/album/default.jpg"
              alt=""
            />
            <div class="track-title">
              <p>{{item.title}}</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
