<div class="sidebar">
  <nav class="main-menu">
    <ul>
      <li class="has-subnav">
        <img src="assets/logo.png" alt="MusicNepal" class="img-fluid" width="70px">
      </li>
      <li>
        <input type="search" id="search" placeholder="search">
      </li>
        <li>
            <a href="#">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                   Home
                </span>
            </a>
        </li>
        <li class="has-subnav">
            <a href="#">
                <i class="fa fa-globe fa-2x"></i>
                <span class="nav-text">
                    Audio
                </span>
            </a>
        </li>
        <li class="has-subnav">
            <a href="#">
               <i class="fa fa-comments fa-2x"></i>
                <span class="nav-text">
                    Video
                </span>
            </a>
        </li>
        <li class="has-subnav">
            <a href="#">
               <i class="fa fa-camera-retro fa-2x"></i>
                <span class="nav-text">
                    Radio
                </span>
            </a>

        </li>
        <li>
            <a href="#">
                <i class="fa fa-film fa-2x"></i>
                <span class="nav-text">
                    About
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-book fa-2x"></i>
                <span class="nav-text">
                    Services
                </span>
            </a>
        </li>
        <li>
           <a href="#">
               <i class="fa fa-cogs fa-2x"></i>
                <span class="nav-text">
                    MNIP
                </span>
            </a>
        </li>
        <li>
           <a href="#">
                <i class="fa fa-map-marker fa-2x"></i>
                <span class="nav-text">
                    GALLERY
                </span>
            </a>
        </li>
        <li>
            <a href="#">
               <i class="fa fa-info fa-2x"></i>
                <span class="nav-text">
                    CONTACT
                </span>
            </a>
        </li>
        <li>
          <a href="#">
             <i class="fa fa-info fa-2x"></i>
              <span class="nav-text">
                  BLOG
              </span>
          </a>
      </li>
      <li>
        <a href="#">
           <i class="fa fa-info fa-2x"></i>
            <span class="nav-text">
                CAREER
            </span>
        </a>
    </li>
    </ul>

    <ul class="logout">
        <li>
           <a href="#">
                 <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Send Us a Message
                </span>
            </a>
        </li>
    </ul>
  </nav>


  <div class="hamburger-menu">

  </div>
</div>

<div class="content">

</div>
