<div class="pop-up">
  <h2  align="center" mat-dialog-title class="pop-title py-4">Install MOMO to enjoy the full song</h2>

<mat-dialog-content class=" mat-typography contents d-flex justify-content-center">

<p class="py-3" align="center" class = "modal-content">Download MOMO app to watch and listen to thousands of Nepali and International movies and songs.
<br>
<span class="enjoy">Enjoy the MOVIES and MUSICS with MOMO App.</span>
  </p>
  <div class="pop-img">
    <a target="_blank" href="https://play.google.com/store/apps/details?id=com.newitventure.movienmasti">
      <img src="https://play-lh.googleusercontent.com/03CLABINvj5UtwW2PoGdXg9YvpEbCXGqZcIHtIfIBfEqtjAHLeGH2HlDzGF8YnLKg1o=w240-h480-rw" alt="">

    </a>
      </div>

</mat-dialog-content>
<mat-dialog-actions align="center">
<button class="pop-button" mat-button mat-dialog-close>Cancel</button>
<a target="_blank" href="https://play.google.com/store/apps/details?id=com.newitventure.movienmasti"><button class="pop-button" mat-button [mat-dialog-close]="true" cdkFocusInitial> Download MOMO </button></a>
</mat-dialog-actions>
</div>



