<nav class="main-menu">
  <ul>
    <li class="has-subnav">
      <img src="assets/logo.png" alt="MusicNepal" class="img-fluid" width="70px">
    </li>
    <li>
      <input type="search" id="search" placeholder="search">
    </li>
      <li>
          <a href="#">
              <i class="fa fa-home fa-2x"></i>
              <span class="nav-text">
                 Home
              </span>
          </a>
      </li>
      <li class="has-subnav">
          <a href="#">
              <i class="fa fa-globe fa-2x"></i>
              <span class="nav-text">
                  Audio
              </span>
          </a>
      </li>
      <li class="has-subnav">
          <a href="#">
             <i class="fa fa-comments fa-2x"></i>
              <span class="nav-text">
                  Video
              </span>
          </a>
      </li>
      <li class="has-subnav">
          <a href="#">
             <i class="fa fa-camera-retro fa-2x"></i>
              <span class="nav-text">
                  Radio
              </span>
          </a>

      </li>
      <li>
          <a href="#">
              <i class="fa fa-film fa-2x"></i>
              <span class="nav-text">
                  About
              </span>
          </a>
      </li>
      <li>
          <a href="#">
              <i class="fa fa-book fa-2x"></i>
              <span class="nav-text">
                  Services
              </span>
          </a>
      </li>
      <li>
         <a href="#">
             <i class="fa fa-cogs fa-2x"></i>
              <span class="nav-text">
                  MNIP
              </span>
          </a>
      </li>
      <li>
         <a href="#">
              <i class="fa fa-map-marker fa-2x"></i>
              <span class="nav-text">
                  GALLERY
              </span>
          </a>
      </li>
      <li>
          <a href="#">
             <i class="fa fa-info fa-2x"></i>
              <span class="nav-text">
                  CONTACT
              </span>
          </a>
      </li>
      <li>
        <a href="#">
           <i class="fa fa-info fa-2x"></i>
            <span class="nav-text">
                BLOG
            </span>
        </a>
    </li>
    <li>
      <a href="#">
         <i class="fa fa-info fa-2x"></i>
          <span class="nav-text">
              CAREER
          </span>
      </a>
  </li>
  </ul>

  <ul class="logout">
      <li>
         <a href="#">
               <i class="fa fa-power-off fa-2x"></i>
              <span class="nav-text">
                  Send Us a Message
              </span>
          </a>
      </li>
  </ul>
</nav>


<div class="hamburger-menu">

</div>
 -->

<!--
 <nav>
  <ul>
    <li>
      <a href="#" class="logo">
        <img src="assets/logo.png" alt="">
      </a>
    </li>
    <li>
      <a href="">
        <i class="fa-solid  fa-house"></i>
        <span class="nav-item">HOme</span>
      </a>
    </li>
    <li>
      <a href="">
        <i class="fa-solid fa-house"></i>
        <span class="nav-item">About</span>
      </a>
    </li>
    <li>
      <a href="">
        <i class="fa-solid fa-house"></i>
        <span class="nav-item">about</span>
      </a>
    </li>
    <li>
      <a href="">
        <i class="fa-solid fa-house"></i>
        <span class="nav-item">about</span>
      </a>
    </li>
    <li>
      <a href="">
        <i class="fa-solid fa-house"></i>
        <span class="nav-item">about</span>
      </a>
    </li>
    <li>
      <a href="">
        <i class="fa fa-facebook"></i>
        <span class="nav-item">about</span>
      </a>
    </li>
    <li>
      <a href="">
        <i class="fa fa-facebook"></i>
        <span class="nav-item">about</span>
      </a>
    </li>
    <li>
      <a href="">
        <i class="fa fa-facebook"></i>
        <span class="nav-item">about</span>
      </a>
    </li>
    <li>
      <a href="">
        <i class="fa fa-facebook"></i>
        <span class="nav-item">about</span>
      </a>
    </li>
  </ul>
 </nav>
<!--
<div class="main-container d-flex">
  <button class="btn d-mb-none d-block open-btn px-1 py-0 text-white" (click)="openSidebar()"><i class="fa fa-bars"></i></button>
<button class="btn d-mb-none d-block close-btn px-1 py-0 text-white" (click)="closeSidebar()"><i class="fa fa-bars"></i></button>

  <div class="sidebar" id="side_nav" [class.active]="isSidebarActive">
    <div class="header-box px-2 pt-3 pb-4 d-flex justify-content-between">
      <img src="assets/logo.png" alt="" />
      <button class="btn d-mb-none d-block close-btn px-1 py-0 text-white">
        <i class="fa-sharp fa-solid fa-bars-staggered"></i>
      </button>
    </div>

    <ul class="list-unstyled px-2" style="cursor: pointer;">
      <li [class.active]="isActive('Home')" (click)="setActive('Home')" class="text-decoration-none px-3 py-2 d-block"><i class="fa-sharp fa-solid fa-house"></i>Home</li>
      <li [class.active]="isActive('check1')" (click)="setActive('check1')" class="text-decoration-none px-3 py-2 d-block"><i class="fa-sharp fa-solid fa-house"></i>check1</li>
      <li [class.active]="isActive('check2')" (click)="setActive('check2')" class="text-decoration-none px-3 py-2 d-block"><i class="fa-sharp fa-solid fa-house"></i>check2</li>
      <li [class.active]="isActive('check3')" (click)="setActive('check3')" class="text-decoration-none px-3 py-2 d-block"><i class="fa-sharp fa-solid fa-house"></i>check3</li>
      <li [class.active]="isActive('check4')" (click)="setActive('check4')" class="text-decoration-none px-3 py-2 d-block"><i class="fa-sharp fa-solid fa-house"></i>check4</li>
      <li [class.active]="isActive('check5')" (click)="setActive('check5')" class="text-decoration-none px-3 py-2 d-block"><i class="fa-sharp fa-solid fa-house"></i>check5</li>
      <li [class.active]="isActive('check6')" (click)="setActive('check6')" class="text-decoration-none px-3 py-2 d-block"><i class="fa-sharp fa-solid fa-house"></i>check6</li>
    </ul>
    <hr class="h-color mx-3" />
  </div>
  <div class="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div class="d-flex justify-content-between d-md-none d-block">

        </div>
      </div>
      <a class="navbar-brand" href="#">Music Nepal</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div> -->
