
.fa-2xl {
font-size: 0.8em;
}
.fa {
position: relative;
display: table-cell;
width: 50px;
height: 30px;
padding-left: 0;
vertical-align: middle;
font-size:20px;
color: white}

.main-menu {
position:fixed;
font-size: 2rem;
top:0;
bottom:0;
height:100%;
left:0;
width:50px;
overflow:hidden;
z-index: 1;
transition: .7s ease ;
}

.logo{
text-align: center;
display: flex;
width: 70px;
padding-right: 4px;
}

.logo img{
  width: 70px;
  height: 60px;
  align-items: center;
  float: left;
  border-radius: 50%;
}

.main-menu>ul {
margin:3px 0;
}

.main-menu li {
position:relative;
display:block;
width:100px;
}
.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
width: 200px;
border-spacing:0;
color:white;
font-size: 14px;
text-decoration:none;
transform:translateZ(0) scale(1,1);
transition:all .1s linear;
}


.main-menu .nav-icon {
position:relative;
display:table-cell;
width:30px;
height:30px;
text-align:center;
vertical-align:middle;
font-size:15px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
margin-left: 3px;
font-family: 'Poppins';
}
.main-menu .nav-text:hover{
  color: red;
}

/* Add the hover effect for the li tag */
li:hover .fa {
  color: red;
}
.main-menu:hover{
  background-color: #241c1c;
  width: 150px;
  transition: all 0.5s ease;

}

.main-menu>ul.logout {
position:absolute;
padding: 0;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

nav ul,nav li {
outline:0;
margin:0;
padding:5px;
}

.has-subnav img {
  display: block;
  margin-left: 0;
  margin-right: 0;
  width: 35%;
}

#search{
  font-size: 12px;
  width: 40%;
  border-radius: 30px;
  border: none;
  padding: 2px;
  cursor: text;
  color: black;
  text-align: center;
  font-size: 14px;
  position: absolute;
  top: 30%;
  left: 50%;
  height: 2rem;
  width: 6rem;
}
#search input {
  padding-left: 3px;
}



@media screen and (max-width:1024px) {
  .main-menu{
    width:60px;
    background-color: #000000;
    font-size: 10px;
  }
}

@media screen and (max-width:768px) {

  #search{
    font-size: 20px;
    width: 100px;
    color: black;
  }

  .has-subnav{
  width: 40px;
  background-color: #000000;
  font-size: 12px;
}
}

