<div class="container-fluid w-100">
  <div class="latestVideos">
    <div class="latestVideos-text d-flex justify-content-between">
      <h2>Latest music videos</h2>
      <div class="ytButton">
        <a href="https://www.youtube.com/playlist?list=PL-Mf5W0I7c6_AUpCJYqP717zO5hi4NDnn" target="_blank"><button class="btn ytVideos text-white"> View All</button></a>

      </div>
    </div>

    <div class="video">
      <div class="row left-main">
        <div class="col-6">
          <div  *ngFor="let video of recentVideos.slice(0); let i=index">
            <ng-container *ngIf="i==0">
            <iframe class="yt-image"

            [src]="playLink"
          ></iframe>
            <h6>{{ video.snippet.title}}</h6>
          </ng-container>
          </div>
        </div>
        <div class="col-6">
          <div class="row">

            <div class="col-12 col-sm-12 col-md-6"  *ngFor="let video of recentVideos.slice(1,5)">
              <a class="side-videos"
              (click)="playVideo(video.snippet.resourceId.videoId)">
            <img style="width: 100%; height: 100%;"
              [src]="video.snippet.thumbnails.standard.url"
              alt="Video Thumbnail"
            />
            <h6 class="d-flex justify-content-centre">{{ video.snippet.title }}</h6>
          </a>
          </div>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>
