.latestVideos {
  padding: 40px 150px 50px 60px;
}
.latestVideos-text {
  margin-bottom: 20px;
  padding-left: 80px;
}

.left-main {
  padding-left: 80px;
}

.side-videos {
  margin-top: 35px;
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  color: white;
  font-size: 24px;
  text-decoration: none;
  object-fit: cover;
  padding-top: 0;
  background-color: black;

}

.side-videos img {
  object-fit: cover;
}

.side-videos h6 {
  margin-top: 10px;
}

.yt-image {
  padding-top: 40px;
  width: 600px;
  height: 550px;
}

.ytButton button {
  background-color: black;
  text-align: center;
  border: 1px solid white;
  border-color: rgba(169, 156, 156, 0.6);
  border-radius: 15px;
  color: white;
  font-weight: 400;
  padding: 5px 15px;
  margin-right: 5px;
  cursor: pointer;
}

.ytButton {
  margin-right: 10px;
}

.ytButton button:hover {
  background-color: red;
}
