<div class="w-100" style="background-color: black">
  <div class="latestVideos">
    <div class="latestVideos-text">
      <h2>Latest music videos</h2>
    </div>

    <div class="homeVideo">
      <div class="left-side" *ngFor="let video of recentVideos; let i=index">
        <ng-container *ngIf="i==0">
        <iframe
        width="560"
        height="315"
        [src]="playLink"
      ></iframe>
        <h4>{{ video.snippet.title}}</h4>
      </ng-container>
      </div>

      <div class="right-side" *ngFor="let video of recentVideos">
        <a class="side-videos col-md-6"
        (click)="playVideo(video.snippet.resourceId.videoId)">
          <img
            [src]="video.snippet.thumbnails.default.url"
            alt="Video Thumbnail"
          />
          <h5>{{ video.snippet.title }}</h5>
        </a>
      </div>
    </div>
  </div>
</div>
