

<div class="w-100" style="background-color: black;">
  <div class="latestVideos">
    <div class="latestVideos-text">
      <h2>Latest music videos</h2>
    </div>

  <div class="homeVideo">
    <div class="left-side">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/qIRBKaYwzuY?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>        </div>
      </div>
    </div>

    <div class="right-side">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <img src="assets/homeBanner.jpg" alt="Image 4" class="img-fluid">
          </div>
          <div class="col-md-6">
            <img src="assets/homeBanner.jpg" alt="Image 5" class="img-fluid">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <img src="assets/homeBanner.jpg" alt="Image 6" class="img-fluid">
          </div>
          <div class="col-md-6">
            <img src="assets/homeBanner.jpg" alt="Image 7" class="img-fluid">
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div id="mainCarousel" class="carousel slide" data-ride="carousel">
        <a class="carousel-control-prev" href="#mainCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#mainCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    </div>
  </div>
</div>



