
.latestVideos{

  padding:  40px 100px 50px 152px; ;
}
.latestVideos-text{
 margin-bottom: 20px;
}

.side-videos{
  display: block;
  cursor: pointer;
  color: white;
  text-decoration: none;
object-fit: cover;
  padding: 10px;
  background-color: #191919;
}

.side-videos img{
  object-fit: contain;
}

.side-videos h6{
  margin-top: 10px;
}

.yt-image{
  padding-top: 40px;
  width: 600px;
  height:550px;
}



.ytButton button{
  background-color: black;
  text-align: center;
  border: 1px solid white;
  border-color: rgba(169, 156, 156, 0.6);
  border-radius: 15px;
  color: white;
  font-weight: 400;
  padding: 5px 15px;
  margin-right: 5px;
  cursor: pointer;
}

.ytButton{
  margin-right: 10px;
}


.ytButton button:hover{
  background-color: red;
}












