


.footer-img{
  width: 100%;
  position: relative;
  background-color: black;
}


.footer-links,
.social-links {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;
}

.footer-links li
 {
  display: inline-block;
  margin: 0 10px;
  font-size: 16px;
}

.social-links li{
  display: inline-block;
  margin: 0 10px;
  font-size: 20px;
  color: red;
}

.footer-links li :hover {
  color: rgb(159, 154, 154);
}

.footer-links li a,
.social-links li a {
  text-decoration: none;
}

.footer-links li ,
.social-links li a :hover {
  text-decoration: none;
}
/* social links hover color code */

.fa-twitter:hover{
  color: #00acee;
}

.fa-youtube:hover{
  color: #CD201F;
}

.fa-facebook:hover{
  color: #3b5998;
}

.fa-instagram:hover{
  color: #F56040;
}

a{
  color: white;
}


.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.logo {
  margin-bottom: 10px;
}

.footer-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

.footer-links ul li {
margin: 20px 15px 20px 0 ;
}

.footer-links ul li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  list-style: none;

}

.social-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links ul li {
  margin-right: 10px;
  margin-top: 35px;
}

.social-links ul li a {
  margin-top: 30px;
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: column !important;
}

.footer-bottom {
  margin-top: 20px;
  text-align: center;
}


@media(max-width: 1224px){
  .footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .container .footer-links{
    display: flex;
    flex-direction: column;
    font-size: 13px;
  }

}


