.item {
  border-radius: 5px;
  height: fit-content;
  align-items: center;
  margin-left: 8px;
  padding: 10px;
  transition: all 0.6s ease;
  cursor: pointer;
}

.item:hover {
  transform: scale(1.06);
}

.release-head {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem;
}

.release-head .head-right {
  width: 100px;
}

.head-right button {
  text-align: center;
  border-color: rgba(169, 156, 156, 0.6);
  border-radius: 20px;
  color: white;
  font-weight: 400;
  padding: 5px;
  cursor: pointer;
}

.head-right button:hover{
  background-color: #d5170d;

}


.item .avatar {
  display: flex;
  margin: 7px;
  /* width: 200px; */
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.play {
  font-size: 35px;
}

.release-text {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}


.artist-text > p {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

#list {
  display: flex;
  width: max-content;
  align-items: center;
}

#formList {
  width: 0%;
  overflow: hidden;
  height: 400px;
  margin: 0;
}

::ng-deep .owl-theme .owl-nav [class*="owl-"] {
  height: 3rem;
  border-radius: 50%;
  color: white;
  background-color: rgba(0, 0.7, 0, 0.7) !important;
  outline: 0;
  width: 3rem;
  border: none;
  font-size: 30px;
  padding: 0;
}

::ng-deep .owl-nav .owl-prev {
  position: absolute;
  left: 32px;
  top: 36%;
}

::ng-deep .owl-nav .owl-next {
  position: absolute;
  right: -39px;
  top: 36%;
}


