<div class="audio-container">
  <div class="nav-bar">
    <app-nav-bar></app-nav-bar>
  </div>

  <div class="audio-Home" style="background-color: black;">
    <div class="audio-container">
      <div class="audio-head"></div>
        <div class="head-text">
          <h2>Audio</h2>
          <p><span [routerLink]="['']">HOME</span> &gt; AUDIO</p>
          <div class="searchBar">
            <label for="search">Search </label>
            <input type="search" name="search" id="search" placeholder="SEARCH">
          </div>
        </div>


      <div class="audio-body">
        <div class="gazal">
          <app-gazal></app-gazal>
        </div>
        <div class="folk">
          <app-folk></app-folk>
        </div>
        <div class="devotional">
          <app-devotional></app-devotional>
        </div>
        <div class="movie">
          <app-movie></app-movie>
        </div>
        <div class="pop">
          <app-pop></app-pop>
        </div>
        <div class="modern">
          <app-modern></app-modern>
        </div>
        <div class="festivity">
          <app-festivity></app-festivity>
        </div>
        <div class="others">
          <app-other></app-other>
        </div>
        <div class="tunes">
          <app-tunes></app-tunes>
        </div>
        <div class="ethnic">
          <app-ethnic></app-ethnic>
        </div>
        <div class="classical">
          <app-classical></app-classical>
        </div>
        <div class="children">
          <app-children></app-children>
        </div>
        <div class="remix">
          <app-remix></app-remix>
        </div>
        <div class="popRock">
          <app-popRock></app-popRock>
        </div>
        <div class="geetiKatha">
          <app-geetiKatha></app-geetiKatha>
        </div>
      </div>
    </div>
  </div>
</div>
