<div class="audio-container">
  <!-- <div class="nav-bar">
    <app-nav-bar></app-nav-bar>
  </div> -->

  <div class="audio-Home container" >
    <div class="audio-container" >
      <div class="audio-head" >
      <div class="head-text">
        <h1 class="headingTop">Audio</h1>
        <p><span class="pageTopBtn" [routerLink]="['']">HOME</span> &gt; AUDIO</p>
        <div class="search-box">
          <button class="btn-search"><i class="fas fa-search" style="background-color: #22a6b3;"></i></button>
          <input
            type="text"
            class="input-search"
            placeholder="Type to Search..."
          />
        </div>
      </div>
    </div>
      <div class="audio-body mt-1">
        <div class="gazal">
          <app-gazal></app-gazal>
        </div>
        <div class="folk">
          <app-folk></app-folk>
        </div>
        <div class="devotional">
          <app-devotional></app-devotional>
        </div>
        <div class="movie">
          <app-movie></app-movie>
        </div>
        <div class="pop">
          <app-pop></app-pop>
        </div>
        <div class="modern">
          <app-modern></app-modern>
        </div>
        <div class="festivity">
          <app-festivity></app-festivity>
        </div>
        <div class="others">
          <app-other></app-other>
        </div>
        <div class="tunes">
          <app-tunes></app-tunes>
        </div>
        <div class="ethnic">
          <app-ethnic></app-ethnic>
        </div>
        <div class="classical">
          <app-classical></app-classical>
        </div>
        <div class="children">
          <app-children></app-children>
        </div>
        <div class="remix">
          <app-remix></app-remix>
        </div>
        <div class="popRock">
          <app-popRock></app-popRock>
        </div>
        <div class="geetiKatha">
          <app-geetiKatha></app-geetiKatha>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="footer">
    <app-footer></app-footer>
  </div> -->
</div>
