/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* interstate font link */
@import url('https://fonts.cdnfonts.com/css/interstate');



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  --bs-gutter-x: 0 !important;
  border: none;
}

.html{
  font-family: "Interstate",Helvetica,Arial,Verdana,sans-serif !important;
}

body {
  font-family: "Interstate",Helvetica,Arial,Verdana,sans-serif;
  overflow-x: hidden;
}

.custom-container{
  padding-left: 2em !important;
  padding-right: 2em !important;
}




