<div class="faq w-100 faq">
  <h2>Frequently Asked Questions</h2>
  <div class="accordion">
    <div class="accordion-item">
      <button id="accordion-button-1" aria-expanded="false">
        <span class="accordion-title">Q: Where is Music Nepal located?</span
        ><span class="icon" aria-hidden="true"></span>
      </button>
      <div class="accordion-content">
        <p>Music Nepal is located in Anamnagar, Kathmandu, Nepal.</p>
      </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-2" aria-expanded="false">
        <span class="accordion-title"
          >Q: What is the phone number of Music Nepal?</span
        ><span class="icon" aria-hidden="true"></span>
      </button>
      <div class="accordion-content">
        <p>01-5706309 / 01- 5705049 (Ext. No. 200/201)</p>
      </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-3" aria-expanded="false">
        <span class="accordion-title"
          >Q: How do i submit a demo to Music Nepal?</span
        ><span class="icon" aria-hidden="true"></span>
      </button>
      <div class="accordion-content">
        <p>
          Please contact or send it to info@musicnepal.com. You can also drop it
          at reception of our office located at Anamnagar. Kathmandu. Music
          Nepal only accepts sound recordings recorded at professional studios.
        </p>
      </div>
      </div>
      <div class="accordion-item">
        <button id="accordion-button-4" aria-expanded="false">
          <span class="accordion-title">
            Q: How can I learn more about job possibilities with Music Nepal? </span
          ><span class="icon" aria-hidden="true"></span>
        </button>
        <div class="accordion-content">
          <p>
            To view our current job openings, apply for positions online, and
            find out more about applying for positions, please visit our Career
            page. Visit from here >> https://musicnepal.com/career/ .
          </p>
        </div>
      </div>
      <div class="accordion-item">
        <button id="accordion-button-5" aria-expanded="false">
          <span class="accordion-title">
            Q: Whom do I contact if I am an artist or other rights holder with a
            question about my royalty claims, processing, or administration? </span
          ><span class="icon" aria-hidden="true"></span>
        </button>
        <div class="accordion-content">
          <p>Please contact info@musicnepal.com</p>
        </div>
      </div>
    <div class="accordion-item">
      <button id="accordion-button-5" aria-expanded="false">
        <span class="accordion-title">
          Q: If facing issues with musicnepal.com, who do I contact? </span
        ><span class="icon" aria-hidden="true"></span>
      </button>
      <div class="accordion-content">
        <p>
          For any suggestions or grievances please write to us at
          info@musicnepal.com Alternatively, you can also call us on: 01-
          5705049
        </p>
      </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-5" aria-expanded="false">
        <span class="accordion-title">
          Q: In which countries is MOMO app available? </span
        ><span class="icon" aria-hidden="true"></span>
      </button>
      <div class="accordion-content">
        <p>
          MOMO app is available across the globe on desktops, laptops, Android
          and iOS-based mobile phones, and tablets. Download APP From Here >>
          http://bit.ly/MOMO-APP
        </p>
      </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-5" aria-expanded="false">
        <span class="accordion-title">
          Q: Who will own the music when distributing through Music Nepal? </span
        ><span class="icon" aria-hidden="true"></span>
      </button>
      <div class="accordion-content">
        <p>
          When you distribute with us, you retain 100% of the rights to your
          music. The only rights you are providing to Music Nepal or our
          international distribution platform titled MNIP is to distribute your
          music and collect royalties on your behalf.
        </p>
      </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-5" aria-expanded="false">
        <span class="accordion-title">
          Q: MNIP: Which streaming platform do you distribute to?</span
        ><span class="icon" aria-hidden="true"></span>
      </button>
      <div class="accordion-content">
        <p>
          We are now partnered with more than 60 of the most popular currently available streaming services of the world that includes YouTube, Spotify, Facebook, TikTok, ITunes, Deezer, etc. Complete list is mentioned in the website. And that list keeps on growing!
<br>
When you distribute with us, you retain control of your assets. That means you can pick how many services you want your music to be live on and how long it stays up.
        </p>
      </div>
    </div>
  </div>
  <!-- <div class="visit-faq d-flex justify-content-center align-items-center pt-4">
    <button>VISIT OUR FAQ</button>
  </div> -->
</div>

1
