<div class="w-100" style="background-color: black;">
  <div class="container">
    <div class=" mnip">
      <div class="text">
        <h2>MNIP</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic fugiat
          dolorem numquam accusamus fugit magnam, illo rem in cupiditate ducimus
          vel corrupti eum perspiciatis, placeat at. Minima nemo officiis dolorem.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste libero
          saepe corporis voluptate cupiditate natus debitis vero, ipsam
          laudantium! Asperiores quos quod ratione rem exercitationem ab error
          veritatis ipsa vel!
        </p>
        <button class="d-flex">visit us</button>
      </div>
      <div class="image">
        <img src="assets/homeBanner.jpg" alt="momo" />
      </div>
    </div>

    <div class=" momo">
      <div class="text">
        <h2>MOMO</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic fugiat
          dolorem numquam accusamus fugit magnam, illo rem in cupiditate ducimus
          vel corrupti eum perspiciatis, placeat at. Minima nemo officiis dolorem.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste libero
          saepe corporis voluptate cupiditate natus debitis vero, ipsam
          laudantium! Asperiores quos quod ratione rem exercitationem ab error
          veritatis ipsa vel!
        </p>
        <button class="d-flex">visit us</button>
      </div>
      <div class="image">
        <img src="assets/homeBanner.jpg" alt="momo" />
      </div>
    </div>
  </div>
</div>

