.mnip, .momo {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: black;
}

/* Text content on the left side */
.text {
  flex: 1;
}

.text button{
  margin: auto;
  width: auto;
  border-radius: 30px;
  background-color: #ed4036;
  padding: 8px 15px;
}



/* Image on the right side */
.image {
  flex: 1;
  padding-left: 5px;
  max-width: 100%;
  height: auto;
}
.image img{
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .container {
      flex-direction: column;
  }

  .text, .image {
      flex: 1;
      padding: 0;
  }
}

