.container{
  padding-left: 3em;
  padding-right: 3em;
}
.mnip, .momo {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: black;
}

/* Text content on the left side */
.text {
  flex: 1;
}

.text button{
  margin: auto;
  width: auto;
  padding: 5px 15px;
  border: 1px solid white transparent;
  text-align: center;
  border-color: rgba(169, 156, 156, 0.6);
  border-radius: 20px;
  color: white;
  font-weight: 400;
}



/* Image on the right side */
.image {
  flex: 1;
  padding-left: 5px;
  max-width: 100%;
  height: auto;
}
.image img{
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .container {
      flex-direction: column;
  }

  .text, .image {
      flex: 1;
      padding: 0;
  }
}

